.form{
    display:flex;
    justify-content:center;
    margin:3rem;
  }
  #data{
    width:30rem;
    padding:3rem;
    background:#91cfd2;
    border-radius:0.6rem;
  }
  #data>input{
    margin:1rem;
  }
  #data>button{
    margin:1rem;
  }
  #msg{
    margin:1rem;
  }